<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineVotingTestNew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>votingapp.servlets.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LogInController</display-name>
    <servlet-name>LogInController</servlet-name>
    <servlet-class>votingapp.servlets.LogInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInController</servlet-name>
    <url-pattern>/LogInController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>votingapp.servlets.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVote</display-name>
    <servlet-name>UpdateVote</servlet-name>
    <servlet-class>votingapp.servlets.UpdateVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVote</servlet-name>
    <url-pattern>/UpdateVote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteOrEditVote</display-name>
    <servlet-name>VoteOrEditVote</servlet-name>
    <servlet-class>votingapp.servlets.VoteOrEditVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteOrEditVote</servlet-name>
    <url-pattern>/VoteOrEditVote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePoll</display-name>
    <servlet-name>CreatePoll</servlet-name>
    <servlet-class>votingapp.servlets.CreatePoll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePoll</servlet-name>
    <url-pattern>/CreatePoll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagePoll</display-name>
    <servlet-name>ManagePoll</servlet-name>
    <servlet-class>votingapp.servlets.ManagePoll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagePoll</servlet-name>
    <url-pattern>/ManagePoll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPollResults</display-name>
    <servlet-name>ShowPollResults</servlet-name>
    <servlet-class>votingapp.servlets.ShowPollResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPollResults</servlet-name>
    <url-pattern>/ShowPollResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDeadline</display-name>
    <servlet-name>CheckDeadline</servlet-name>
    <servlet-class>votingapp.servlets.CheckDeadline</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDeadline</servlet-name>
    <url-pattern>/CheckDeadline</url-pattern>
  </servlet-mapping>
 
</web-app>